<div class="spacer"></div>

<div class="container">

    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
        <tbody>
            <tr>
                <td class="tcat center" colspan="6">Welcome to WhatChaMaCallIt <b style="color: red;"> {{ userEmail }}
                    </b>-
                    This is where the magic Happens!
                </td>
            </tr>
        </tbody>
    </table>

    <div class="spacer"></div>

    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
        <thead>
            <tr>
                <td colspan="3" class="tcat center">
                    <b>» Books</b>
                </td>
            </tr>
        </thead>
    </table>
    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
        <tbody>
            <tr align="center">
                <td class="thead">&nbsp;</td>
                <td class="thead" width="100%" align="left">Posts</td>
            </tr>
            {{#each postinfo}}
                <tr align="center">
                    <td class="alt2"></td>
                    <td class="alt1Active" align="left" id="f87">
                        <div>
                            <a href="/forum/category/{{name}}/{{id}}"><strong>{{ title }}</strong></a>
                            <div class="smallfont">
                                <span style="cursor:pointer">created by: {{ userEmail }} </span>
                            </div>
                        </div>
                    </td>
                </tr>
            {{/each}}

        </tbody>
    </table>
</div>

<div class="container">
    <div class="category-content">
        <a href="/forum/posts"><button class='category-button' id='new-post'>Create New
                Post</button></a>
    </div>
</div>