<<div class="spacer"></div>

<div class="container">

    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
        <thead>
            <tr>
                <td colspan="3" class="tcat">Stuff thats <b style='color: red;'>HOT</b> Right now!</td>
            </tr>
        </thead>
        <tbody>
            <tr valign="top">
                <td class="thead" align="left" width="25%"> <span id="hottest-categories">Hottest Category (in last 7
                        days)</span> </td>
                <td class="thead" align="left" width="50%"> <span id="latest-posts">Latest Posts</span> </td>
            </tr>
            <tr valign="top" style="height:100%">
                <td class="alt2" style="padding:3px;margin:0px;border-width:0px;">
                    <div id="top-categories">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
                            <tbody>
                                <tr>
                                    <td height="15px" width="1%" align="center"><span class="smallfont tbody">1&nbsp;</span>
                                    </td>
                                    <td style="padding:1px" class="smallfont tbody"><a href="/forum/category/sports"
                                            title="Name of category goes here">Sports</a></td>
                                </tr>
                                <tr>
                                    <td height="15px" width="1%" align="center"><span class="smallfont tbody">2&nbsp;</span>
                                    </td>
                                    <td style="padding:1px" class="smallfont tbody"><a href="/forum/category/movies"
                                            title="Name of category goes here">Movies</a></td>
                                </tr>
                                <tr>
                                    <td height="15px" width="1%" align="center"><span class="smallfont tbody">3&nbsp;</span>
                                    </td>
                                    <td style="padding:1px" class="smallfont tbody"><a href="/forum/category/books"
                                            title="Name of category goes here">Books</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="15px" width="1%" align="center"><span class="smallfont tbody">4&nbsp;</span>
                                    </td>
                                    <td style="padding:1px" class="smallfont tbody"><a href="/forum/category/other"
                                            title="Name of category goes here">Other</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>

                <td class="alt2" style="padding:3px;margin:0px;border-width:0px;">
                    <div id="newest-posts">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">

                            <tbody>
                                {{#each postinfo}}
                                <tr>
                                    <td style="padding:1px" class="smallfont tbody responsive-table">
                                        <a href="/forum/category/{{name}}/{{id}}" title="Post title goes here">
                                            {{title}}
                                        </a>
                                        <a href="#" title="username">
                                            <b>
                                                <font color="#2F4F4F">
                                                    {{author}}
                                                </font>
                                            </b>
                                        </a>
                                        &nbsp;
                                        <a href="#" style="text-decoration:none;font-family:Arial;font-size:8px" title="Jump to first unread post in category" class="isDisabled">►</a>
                                        {{bodyCreatedAt}}
                                        <a
                                            href="/forum/category/{{name}}" title="Category goes here">{{name}}</a>
                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="spacer"></div>
</div>