<div class="spacer"></div>

<div class="container">

    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
        <thead>
            <tr>
                <td colspan="3" class="tcat center" style='background: #69D2E7'>Stuff thats <b
                        style=' color: red;'>HOT</b> Right now!</td>
            </tr>
        </thead>
        <tbody>

            <tr valign="top" style="height:100%">
                <td class="alt2" style="padding:3px;margin:0px;border-width:0px;">
                    <div id="top-categories">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
                            <tbody>
                                <tr>
                                    <td style="padding:1px" class="smallfont"><a href="/forum/category/sports"
                                            title="Name of category goes here"
                                            class="waves-effect  light-blue lighten-4 btn">Sports</a>
                                    </td>
                                    <td style="padding:1px" class="smallfont"><a href="/forum/category/movies"
                                            title="Name of category goes here"
                                            class="waves-effect light-blue lighten-4  btn">Movies</a>
                                    </td>
                                    <td style="padding:1px" class="smallfont"><a href="/forum/category/books"
                                            title="Name of category goes here"
                                            class="waves-effect light-blue lighten-4  btn">Books</a>
                                    </td>
                                    <td style="padding:1px" class="smallfont"><a href="/forum/category/other"
                                            title="Name of category goes here"
                                            class="waves-effect light-blue lighten-4  btn">Other</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="spacer"></div>

    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
        <thead>
            <tr>
                <td colspan="3" class="tcat center"> <b style='font-size:20px;'>All
                        Posts</b></td>
            </tr>
        </thead>
        <tbody>
            <tr valign="top" style="height:100%">
                <td class="alt2" style="padding:3px;margin:0px;border-width:0px;">
                    <div id="newest-posts">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
                            {{#each postinfo}}
                            <table class="tborder center" cellpadding="6" cellspacing="1" border="0" width="100%">
                                <thead>
                                    <tr>
                                        <td colspan="3" class="tcat center" style='background: #69D2E7'>
                                            <b style='font-size:16px;'>{{name}}</b>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                            <table id="post-id" class="tborder center" cellpadding="6" cellspacing="1" border="0"
                                width="100%">
                                <tr>
                                    <td class="thead" style="font-weight: normal">
                                        {{bodyCreatedAt}}
                                    </td>
                                    <td class="alt1">
                                        <b>{{title}}</b>
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td class="alt2" width="200">
                                        <div id="user-profile">
                                            <center>
                                                <a class="bigusername" rel="nofollow" href="#">
                                                    {{author}}</a>
                                                <hr>
                                            </center>
                                        </div>
                                        <div class="smallfont">
                                            <br />
                                            <center>
                                                <img src="https://via.placeholder.com/150" alt="user's Avatar"
                                                    border="1" title="user's Avatar" />
                                            </center>
                                        </div>
                                    </td>
                                    <td class="alt1" id="post_message">
                                        <div id="post_message">
                                            {{body}}
                                        </div>
                                    </td>
                                </tr>


                            </table>
                            <br>
                            {{/each}}
                        </table>
                        <br>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="spacer"></div>
    <div style="padding-bottom:15px">
        <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
            <thead>
                <tr>
                    <td class="tcat" style='background: #69D2E7' colspan="0">
                        <span class="smallfont"><strong>» <a href="#">Search
                                    Forums</a></strong></span>
                    </td>
                </tr>
            </thead>
            <tbody id="search-input">
                <tr>
                    <td class="alt2">
                        <input class="bginput" name="query" size="13" type="text"> <input type="submit" class="button"
                            value="Go">
                        <div class="smallfont">» <a href="#">Advanced Search</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>